@use "@angular/material" as mat;
@use "sass:map" as map;

@use "src/app/app.component.scss-theme" as root;
@use "src/app/banner/banner.component.scss-theme" as app-banner;

$app-info-palette: mat.define-palette(mat.$blue-palette, 500, 200, 800);
$app-success-palette: mat.define-palette(mat.$green-palette, 500, 200, 800);

$typography: mat.define-typography-config(
  $font-family: "'Open Sans', sans-serif",
);

@function apply-extra-colors($theme) {
  @return map.deep-merge(
      $theme,
      (
        info: $app-info-palette,
        success: $app-success-palette,
        color: (
          info: $app-info-palette,
          success: $app-success-palette,
        ),
      ),
  );
}

@mixin create-theme($theme) {
  @include mat.core-theme($theme);
  @include mat.button-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.select-theme($theme);
  @include mat.toolbar-theme($theme);
  @include mat.card-theme($theme);

  @include root.theme($theme);
  @include app-banner.theme($theme);
}
