@use "@angular/material" as mat;
@use "sass:map" as map;

$banner-density-config: (
  height: (
    default: 120px,
    maximum: 150px,
    minimum: 90px,
  )
) !default;

@mixin density($density) {
  $height: map.get($banner-density-config, height, $density);

  app-banner {
    min-height: $height;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $typography-config: mat.get-typography-config($theme);
  $density: mat.get-density-config($theme);

  $background-palette: map.get($color-config, background);
  $foreground-palette: map.get($color-config, foreground);
  $info-palette: map.get($color-config, info);
  $success-palette: map.get($color-config, success);
  $error-palette: map.get($color-config, warn);

  app-banner {
    display: block;
    background: mat.get-color-from-palette($background-palette, card);
    color: mat.get-color-from-palette($foreground-palette, base);

    &.app-banner-info {
      background: mat.get-color-from-palette($info-palette, 500);
      color: mat.get-contrast-color-from-palette($info-palette, 500);
    }

    &.app-banner-success {
      background: mat.get-color-from-palette($success-palette, 500);
      color: mat.get-contrast-color-from-palette($success-palette, 500-contrast);
    }

    &.app-banner-error {
      background: mat.get-color-from-palette($error-palette, 500);
      color: mat.get-contrast-color-from-palette($error-palette, 500-contrast);
    }
  }

  @if $typography-config != null {
    @include typography($typography-config);
  }

  @if $density != null {
    @include density($density);
  }
}

@mixin typography($typography-config) {
  h3.heading {
    @include mat.typography-level($typography-config, title);
  }
  .message {
    @include mat.typography-level($typography-config, body-1);
  }
}
