@use "@angular/material" as mat;
@use "sass:map";

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $background-palette: map.get($theme, background);

  app-root {
    display: block;
    background-color: mat.get-color-from-palette($background-palette, background);
    min-height: 100vh;

    $image-src: url("../assets/icon-light.png");
    @if map.get($theme, is-dark) == false {
      $image-src: url("../assets/icon-dark.png");
    }

    .main-logo {
      background-image: $image-src;
    }
  }
}
