/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@use "styles/common";

@include mat.core();
@include mat.typography-hierarchy(common.$typography, "body");
@include mat.strong-focus-indicators((
  border-style: dotted,
  border-width: 4px,
  border-radius: 4px,
));

body {
  margin: 0;
}
